td input[type="checkbox"] {position:absolute;
  left:-9999px;}
td label {background-color:forestgreen;padding:3px;display:block;color:#fff;border-radius:3px;font-family:arial;}
td input:checked + label {background-color:red}

